.personal-setting{
  height: 100%;
  padding: 24px;
  background-color: #fff;

  h1{
    font-size: 20px;
  }

  .btn-layout{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}