.form-container{
  height: 100%;
  padding: 36px 24px;
  background-color: #fff;

  .title {
    font-size: 20px;
    margin-top: -16px;
    margin-bottom: 16px;
  }

  .dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 2px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;

    &:hover {
      color: #777;
    }
  }

  .mongo{
    display: inline;
  }
}