.step{
  height: 100%;
  .icon{
    font-size: 40px;
    margin-bottom: 20px;
  }
  h1{
    font-size: 20px;
    font-weight: bolder;
  }
  h2 {
    text-align: left;
    font-size: 16px;
  }
  pre{
    min-height: 200px;
    text-align: left;
  }
}