.config-manage{
  height: 100%;
  padding: 24px;
  background-color: #fff;

  .btn-group{
    margin: 10px 0;
    button{
      margin-right: 15px;
    }
  }

  .config-table{
    margin-top: 30px;
  }
}